body {
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    height: 80px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 10px solid purple;
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 1000;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-top: 100px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 126px);
    width: 100vw;
    margin-inline: 200px;
  }

.container1 {
    display: flex;
    height: 500px;
    width: 900px;
    align-items: center;
    justify-content: center;

}

.imagem {
    height: 800px;
    width: 900px;
    position: relative;
}

.text {
    position: absolute;
    font-size: 70px; 
    white-space: nowrap;
  }

  .botao {
    height: calc(100vh - 126px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 650px;
}

.btn{
    width: 100%;
    height: 60px;
    font-weight: bold;
    font-size: 18px; 
    border: 2px solid white;
    border-radius: 25px; 
    background-color: #2D21B4;
    color: white;
    text-align: center;
    cursor: pointer;
}

.footer {
    height: 36px;
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
}

@media (max-width: 1150px){
    .container {
        height: 250px;
        flex-direction: column;
    }
    .container1 {
        height: 420px;
        width: 350px;
    }

    .imagem{
        width: 450px;
        height: 450px;
    }

    .text{
        font-size: 35px;
    }

    .botao{
        justify-content: flex-start;
        width: 250px;
    }
}