* {
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header{
    width: 100%;
    border-top: 10px solid purple;
    border-bottom: 10px solid purple;
    text-align: center;
}



.container{
    display: flex;
    width: 500px;
    height: 110px;
    margin: 0% auto;
    padding: 15px;
}

.box{
    width: 65vw;
    height: 50vw;
    padding: 20px 20px 20px 20px;
    border: 10px solid rgb(162, 0, 255);
    margin-top: 10px;
    background-color: rgb(255, 0, 0);
}

.texto{
    font-size: 40px;
    width: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    white-space: nowrap;
  
}

.img{
    width: 150px;
    height: 150px;
    padding: 10px;
}